.errorDisplay {
	font-family: Helvetica, sans-serif;
	color: #32446B;
	background-color: white;
	text-align: left; 
	font-size: 12px;
	line-height: 12px; 
	height: 45px; /** if allowing overflow, increase height */
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: inherit;
	width: expression(this.parentNode.currentStyle['width']);
	border: solid;
	border-color: #A9BADE;
	border-style: ridge;
	display: none;
}

.errorDisplayRetriever{
  height: 8px;
  background-color: #ffffff;
  border-top-right-radius: 10px;
  width: 8px; 
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: none;
}
.errorDisplayShortMessage{
	/**overflow-x: auto; */
	overflow-x: hidden; /** change to have no overflow instead of a scrollbar */
	overflow-y: hidden;
	white-space: nowrap;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 95%;
	margin-top: 20px;
	margin-left: 10px;
	margin-bottom: 5px;
}

.errorDisplayXButton { 
	text-decoration: none;
	font-size: 15px;
	margin-top: 2px;
	position: absolute;
	right: 3px;
	top: 0px;
	color: #4D68A3;

} 

.errorDisplayDetailsButton {
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
} 

.errorDisplayDetails{
	position: fixed;
	top: 25%;
	height: 100px;
	width: 75%;
	text-align: left;
	border: solid;
	border-color: #A9BADE;
	border-style: ridge;
	background-color: white;
	display: none;
}

.errorDisplayFullMessageArea {
	font-family:  Helvetica, sans-serif;
	font-size: .833em;
	color: #32446B;
	height: 80px;
	width: inherit;
	width: expression(this.parentNode.currentStyle['width']);
	position: fixed;
	margin-top: 15px;
}

.errorDisplayFullMessageList {
	overflow: auto;
	white-space: nowrap;
	height: 80px;
	margin-top: 5px;
}

.errorDisplayOptions{
  background-color: #FFFFFF;
  display: inline;
}

