.errorDisplay {
  font-family: Helvetica, sans-serif;
  color: #32446B;
  background-color: white;
  text-align: left; 
  font-size: 12px;
  line-height: 12px; 
  height: 45px; 
  left: 0px;
  width: inherit;
  width: expression(this.parentNode.currentStyle['width']);
  border: 3px solid #4D68A3;
  display: none;
  border-radius: 10px;
}

.errorDisplayTop{
  position: relative;
}

.errorDisplayBottom{
  position: absolute;
  bottom: 0px;
}

.errorDisplayRetriever{
  height: 8px;
  background-color: #ff0000;
  width: 8px; 
  position: absolute;
  left: 0px;
  display: none; 
  cursor: hand; cursor: pointer; //handles cross-browser
}

.errorDisplayRetrieverTop{
  border-bottom-right-radius: 10px;
}

.errorDisplayRetrieverBottom{
  bottom: 0px;
  border-top-right-radius: 10px;;
}

.errorDisplaySummary{
  overflow-x: hidden; 
  overflow-y: hidden;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 90%;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 5px;
  display: inline;
  height: 13px;
}

.errorDisplayOverflow{
  position: absolute;
  right: 7px;
  width: 5%;
  bottom: 0px;
  margin-bottom: 5px;
  display: none;
  
}

.errorDisplayXButton { 
  text-decoration: none;
  font-size: 15px;
  margin-top: 2px;
  position: absolute;
  right: 2px;
  top: 0px;
  color: #4D68A3;
  cursor: hand; cursor: pointer; //handles cross-browser

} 

.errorDisplayDetailsButton {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  cursor: hand; cursor: pointer; //handles cross-browser
} 

.errorDisplayDetailsOuter{
  position: absolute;
  top: 25%;
  left: 25%;
  width: 630px; 
  display: none;
}

.errorDisplayDetails{
  width: 600px; 
  //height: 100px; 
  border: 2px solid #4D68A3; 
  border-radius: 10px;
  background-color: white;
}

.errorDisplayDetailsXButton { 
  border: 2px solid #c2c2c2;
  position: absolute;
  right: 0px;  
  top: 0px;
  padding: 1px 5px;
  background-color: #4D68A3;
  border-radius: 20px;   
  text-decoration: none;
  font-size: 13px;
  color: white;
}

.errorDisplayFullMessageList {
  overflow: auto;
  white-space: nowrap;
  margin-top: 5px;
  font-family:  Helvetica, sans-serif;
  font-size: .833em;
  color: #32446B;
  width: inherit;
  width: expression(this.parentNode.currentStyle['width']);
}

.errorDisplayOptions{
  background-color: #FFFFFF;
  display: inline;
}

span.errorDisplayDetailsPlain{
  margin-left: 2px;
}

errorDisplayDetailsListItemCollapsed, errorDisplayDetailsListItemExpanded{
  display: inline-block;
}

span.additional{
  margin-left: 10px;
}

.errorDisplayDetailsListItemExpanded{ 
  display: none;
}

span.expanded, span.collapsed{
  cursor: hand; cursor: pointer; //handles cross-browser
}